/* @media( min-width: 768px ) */
/* @media( min-width: 990px ) */


@media( min-width: 768px )
{
	/* INDICE         */
	/* Index Perfil   */
	/* Menu           */
	/* Album          */

	/* INDEX PERFIL */

	.perfil-avatar
	{
		border-radius: 50%;
		height: 150px;
		left: 50%;
		margin-left: -75px;
		position: absolute;
		top: 100px;
		width: 150px;
		z-index: 1;

		-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 1);
		-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 1);
		box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 1);
	}

	.perfil-avatar img
	{
		border-radius: 50%;
		height: 150px;
		width: 150px;
	}

	.perfil-label
	{
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 4px;
		color: white;
		font-family: Index;
		left: 50%;
		margin-left: -250px;
		padding: 20px;
		position: absolute;
		text-align: center;
		top: 300px;
		width: 500px;
		z-index: 1;
	}

	.perfil-title
	{
		font-size: 50px;
	}

	.perfil-subtitle
	{
		font-size: 20px;
	}

	.perfil-button,
	.perfil-button:hover,
	.perfil-button:active,
	.perfil-button:visited
	{
		border: 1px solid white;
		border-radius: 4px;
		color: white;
		display: inline-block;
		font-size: 40px;
		margin-top: 20px;
		padding: 6px 70px 6px 70px;
		text-decoration: none;

	}

	.perfil-button:hover
	{
		background-color: white;
		color: black;
	}

	/* ALBUM */

	.album
	{
		left: 50%;
		margin-left: -300px;
		position: absolute;
		top: 300px;
		width: 600px;
	}

	.album img
	{
		border-radius: 4px;
		margin-bottom: 2px;
		width: 270px;
	}
}

@media( min-width: 990px ) 
{
   /* INDICE         */
   /* Index Carousel */
   /* Menu           */

    .container
	{
		
		border-top: 10px solid #E6E6E6;
		height: 100%;
		padding: 0;
	}

   /* INDEX CAROUSEL */

	html,
	body,
	
	.item,
	.active
	{
		background-color: #E6E6E6;
		height: 100%;
	}

	.carousel-inner,
	.carousel
	{
		height: 100%;
	}

	.fill 
	{
		width: 100%;
		height: 100%;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	.bg1 
	{
		background-image: url(/img/carousel-1.jpg);
	}

	.bg2
	{
		background-image: url(/img/carousel-2.jpg);
	}

	.bg3
	{
		background-image: url(/img/carousel-3.jpg);
	}

	.bg4
	{
		background-image: url(/img/carousel-4.jpg);
	}

	.bg5
	{
		background-image: url(/img/carousel-5.jpg);
	}

	.bg6
	{
		background-image: url(/img/carousel-6.jpg);
	}

	.bg7
	{
		background-image: url(/img/carousel-7.jpg);
	}

	.bg8
	{
		background-image: url(/img/carousel-8.jpg);
	}

	.bg9
	{
		background-image: url(/img/carousel-9.jpg);
	}

	.bg10
	{
		background-image: url(/img/carousel-10.jpg);
	}

	/* MENU */

	.menu
	{
		background-color: #E6E6E6;
		margin: 0;
		padding-left: 0;
	}

	.menu li
	{
		margin-right: 100px;
	}

	.menu li a
	{
		font-size: 40px;
	}

	.menu-norbertosevilla a
	{
		background-color: white;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 10px 30px 10px 20px;

	}

	/* MAIN */

	.main
	{
		background-color: white;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 500px;
		margin-bottom: 20px;
		width: 100%;
	}

	.main .perfil-avatar
	{
		border-radius: 50%;
		display: inline-block;
		height: 150px;
		margin-left: 30px;
		position: initial;
		width: 150px;
		
		-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 1);
		-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 1);
		box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 1);
	}

	.bio,
	.inside
	{
		display: inline-block;
	}

	.bio
	{
		width: 22%;
		position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    float: left;
	}

	.bio p
	{
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 4px;
		color: white;
		font-size: 20px;
		margin: 20px 0 0 5px;
		padding: 10px;
		text-align: center;
	}

	.inside
	{
		height: 450px;
		padding-top: 40px;
		width: 75%;

	}

	
	#inside .fill,
	#inside .item,
	#inisde .carousel-inner,
	#inside .active,
	#inside .carousel,
	#inside .slide
	{
		background-color: white !important;
		border-radius: 10px;
	}

	/* ALBUM */

	.album
	{
		border-radius: 4px;
		left: 0;
		margin: 0 0 20px 0;
		position: initial;
		width: 100%;
	}

	.album img
	{
		border-radius: 4px;
		margin-bottom: 2px;
		width: 220px;
	}

	.album-sheet
	{
		background-color: white;
		border-radius: 10px;
		display: inline-block;
		margin-bottom: 20px;
		padding: 10px 0 35px 0;
		text-align: center;
		width: 100%;
	}

	.album-sheet-title
	{
		font-size: 25px;
	}

	/* 	MODALS */

	#modal img
	{
		border-radius: 4px;
		display: inline-block;
		margin: 20px;
		width: 800px;
	}

	.modal-title
	{
		font-size: 30px;
	}

	.modal-description
	{
		font-size: 20px;
	}

	
}