/* INDICE */

/* Index Perfil   */
/* Menu           */
/* Album          */

@font-face {
    font-family: Index;
    src: url(/fonts/abuelo-index.ttf);
}

body
{
	font-family: Index;
}

.bg
{
	height: 100%;
	padding: 5px 5px 0 5px;
	width: 100%;
}

/* INDEX PERFIL */

.bio p
{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	color: white;
	font-size: 20px;
	margin: 200px 0 0 5px;
	padding: 10px;
	text-align: center;
}

.inside p
{
	font-size: 20px;
	padding: 10px;
	text-align: justify;
}

.perfil-avatar
{
	border-radius: 50%;
	height: 150px;
	left: 50%;
	margin-left: -75px;
	position: absolute;
	top: 60px;
	width: 150px;
	z-index: 1;

	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 1);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 1);
}

.perfil-avatar img
{
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.perfil-label
{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	color: white;
	left: 50%;
	margin-left: -150px;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 230px;
	width: 300px;
	z-index: 1;
}

.perfil-title
{
	font-size: 40px;
}

.perfil-subtitle
{
	font-size: 20px;
}

.perfil-button,
.perfil-button:hover,
.perfil-button:active,
.perfil-button:visited
{
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	display: inline-block;
	font-size: 20px;
	margin-top: 20px;
	padding: 6px 70px 6px 70px;
	text-decoration: none;

}

.perfil-button:hover
{
	background-color: white;
	color: black;
}

/* MENU */

.menu,
.menu-hidden
{
	padding-left: 10px;
}

.menu li
{
	display: inline;
	list-style: none;

}

.menu li a
{
	color: black;
	font-size: 25px;

}

.menu-hidden li a
{
	color: white;
}

.bars
{
	border: 1px solid black;
	border-radius: 4px;
	font-size: 20px;
	margin-right: 20px;
	padding: 5px 10px 3px 10px;
	text-align: center;
	
}

.menu-hidden
{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	color: white;
	display: none;
	font-size: 20px;
	left: 10px;
	padding-left: 10px;
	position: absolute;
	top: 40px;
	width: 200px;
	z-index: 2;
}

.menu-hidden li
{
	list-style: none;
}



/* ALBUM */

.album
{
	left: 50%;
	margin-left: -150px;
	position: absolute;
	top: 350px;
	width: 300px;
}

.album li
{
	display: inline;
	list-style: none;
}

.album img
{
	border-radius: 4px;
	margin-bottom: 2px;
	width: 135px;
}

.album-sheet
{
	background-color: #E6E6E6;
	border-radius: 4px;
	display: inline-block;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}

.album-sheet-title
{
	margin-bottom: 10px;
}

.album-sheet-title span
{
	color: black;
	margin-right: 10px;
}

.pictures
{
	display: inline-block;
}